<div class="container">
	<div class="row thermostat">
		<img id="temp-up" class="chevron" src="/images/chevron-up.svg">

		<div class="thermostat-control">
			<p id="thermostat-temp">70°</p>
		</div>

		<img id="temp-down" class="chevron" src="/images/chevron-down.svg">
	</div>

	<div class="row infobar">
		<p id="home-away">Automatic Control - 70°</p>
	</div>
</div>
